@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
:root{
    --VeryDarkBlue: hsl(243, 87%, 12%);
    --DesaturatedBlue: hsl(238, 22%, 44%);
    --BrightBlue: hsl(224, 93%, 58%);
    --ModerateCyan: hsl(170, 45%, 43%);
    --LightGrayishBlue: hsl(240, 75%, 98%);
    --LightGray: hsl(0, 0%, 75%);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.container{
    margin: auto;
    width: 100%;
    min-width: 375px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.nav-logo{
    width: 30%;
    max-width: 150px;
}

.nav-logo img{
    width: 100%;
}

.nav-item{
    width: 45%;
    max-width: 275px;
    color: var(--VeryDarkBlue);
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    font-weight: 300;
}


.wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.pic-area{
    width: 90%;
    margin-top: 40px;
}

.pic-area img{
    width: 100%;
}

.txt-area{
    margin-top: 30px;
    width: 90%;
    text-align: center;
}

.txt-area h1{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 700;
    color: var(--VeryDarkBlue);
}
.txt-area p{
    width: 90%;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif; 
    color: var(--VeryDarkBlue);
    font-weight: 200;    
    margin: 30px auto 0 auto;
}

.get-email{
    width: 90%;
    margin: 23px auto 0 auto;
}

.get-email input{
    width: 100%;
    height: 40px;
    margin: 10px auto;
}

.get-email input[type="email"]{
    padding-left: 20px;
    font-size: 10px;
}

.get-email input:focus{
    outline: none;
    border-color: rgb(218, 83, 83);
}

.error-msg{
    display: none;
}

.get-email .error-msg{
    color: rgb(218, 83, 83);
    font-size: 13px;
    margin: 0;
    text-align: left;
}

.get-email.has-error .error-msg{
    display: block;
}

.get-email input[type="email"]::placeholder{
    color: var(--LightGray);
    font-family: 'Open Sans', sans-serif; 
}

.get-email input[type="submit"]{
    color: #fff;
    background-color: var(--BrightBlue);
    border-radius: 3px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.get-email input[type="submit"]:hover{
    cursor: pointer;
    background-color: hsla(224, 89%, 71%, 0.763);
}

.wrap2{
    margin-top: 140px;
    position: relative;
    background:var(--LightGrayishBlue);
}
.wrap2::before{
    content: '';
    background: url(./images/bg-curve-mobile.svg) no-repeat;
    position: absolute;
    width: 100%;
    top: -52px;
    bottom: 0;
}


.txt-area2 h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: var(--VeryDarkBlue);
    margin: 55px auto 30px auto;
}

.txt-area2 > p{
    color: var(--VeryDarkBlue);
    font-weight: 300;
    text-align: left;
    margin-top: 25px;
    min-width: 320px;
}

.link{
    width: 200px;
    font-size: 13px;
    padding-bottom: 3px;
    margin: 30px auto 0 auto;
    position: relative;
    color: var(--ModerateCyan);
    font-weight: 300;
    background: 89% url(./images/icon-arrow.svg) no-repeat;
}
.link:after{
    content:"";
    position: absolute;
    width: 140px;
    bottom: -3px;
    left: 23px;
    right: 0;
    margin: auto;
    border-bottom: 1px solid var(--ModerateCyan);
}

.link span{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    margin-left: 8px;
}

.link:hover,
.link:hover:after{
    background: 89% url(./images/icon-arrow-hover.svg) no-repeat;
    color: hsl(170, 47%, 71%);
    cursor: pointer;
    border-color: hsl(170, 47%, 71%);
}

.card{
    width: 87%;
    margin: 50px auto 70px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px 14px;
    display: flex;
    flex-direction: column;
}

.card > img{
    width: 12px;
    height: auto;
}

.card p{
    width: 100%;
    font-size: 10px;
    text-align: left;
    color: var(--VeryDarkBlue);
    margin: 10px 0;
    line-height: 20px;
}

.author{
    display: flex;
}

.author img{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    align-self: center;
}

.author-info{
    text-align: left;
    margin-left: 10px;
}
.author-info h3{
    font-size: 10px;
}

.author-info p{
    font-size: 8px;
    margin: 0;
}
.sign-up{
    background-color: var(--DesaturatedBlue);
}

.sign-up .txt-area h1{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;

}

.sign-up .txt-area  p{
    color: #fff;
    width: 79%;
    font-size: 14px;
    font-weight:400;
    margin-top: 18px;
}

.sign-up .get-email{
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}

.sign-up .get-email div:first-child{
    width: 80%;
    margin: 3px auto;

}

.sign-up .get-email input{
    width: 80%;
    height: 33px;
    margin: 3px auto;
}
.sign-up .get-email input[type="email"]{
    width: 100%;
    padding-left: 10px;
    font-size: 10px;
}

.get-email input[type="submit"]{
    font-size: 10px;
}
.sign-up .get-email .error-msg{
    margin: 2px auto 3px auto;
    color: #fff;
    font-weight: 300;
}
footer{
    background-color: var(--VeryDarkBlue);
    width: 100%;
    padding: 60px 50px 50px 50px;
    color: #fff;
}
.footer-logo > img{
    margin-bottom: 20px;
}

.contact-info{
    display: flex;
    margin: 20px 0;
}

.contact-info img{
    width: 20px;
    height: 18px;
}

.contact-info p{
    padding-left: 20px;
}

.about-us,
.contact-us{
    margin: 95px 0 0 0;
    display: flex;
    flex-direction: column;
}

.social-media{
    width: 100%;
    text-align: center;
    margin-top: 95px;
}

.social-media span{
    padding: 5px;
}

.about-us a,
.contact-us a{
    margin-top: 13px;
}

footer a:hover,
footer span:hover{
    color: var(--BrightBlue);
    cursor: pointer;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 376px) {
    .wrap2::before{
        content: '';
        background: url(./images/bg-curve-desktop.svg) no-repeat;
        position: absolute;
        width: 100%;
        top: -105px;
        bottom: 0;
    }
}
@media only screen and (min-width: 769px) {
    h1, h2, p,
    .get-email,
    .link{
        text-align: left;
    }
    .nav-bar{
        margin-top: 30px;
    }

    
    .nav-item{
        font-size: 15px;
    }
    .wrap{
        flex-direction: row-reverse;
    }

    .pic-area{
        width: 45%;
    }

    .txt-area{
        width: 50%;
    }

    .txt-area h1{
        font-size: 40px;
        font-weight: 600;
        margin: 65px 33px 0 33px;
        line-height: 60px;
    }

    .txt-area p{
        margin-left: 33px;
        padding-right: 43px;
        font-size: 18px;
    }

    .get-email{
        margin: 15px 0 0 34px;
        display: flex;
    }

    .get-email input[type="email"]{
        width: 100%;
    }
    .get-email .error-msg{
        width: 150px;
        padding: 0;
       
    }

    .get-email input[type="submit"]{
        width: 30%;
        margin-left: 15px;
    }

    
    .txt-area2 h2{
        font-size: 39px;
        margin: 0 0 30px 33px;
    }
    
    .txt-area2 > p{
        margin: 20px 0 0 33px;
        font-size: 17px;
        width: 83%;
    }

    .link{
        width: 200px;
        margin-left: 33px;
        font-size: 17px;
    }

    .link img{
        width: 28px;
    }

    .link:after{
        width: 175px;
        bottom: -3px;
        left: -25px;
        right: 0;
        margin: auto;
        border-bottom: 1px solid var(--ModerateCyan);
        }

    .card{
        min-width: 350px;
        width: 50%;
        margin: 60px 0 95px 33px;
        padding: 23px 15px;
    }

    .card > img{
        position: relative;
        width: 15px;
        margin-left: 15px;
    }
    .card p{
        font-size: 14px;
        margin: 10px 0 10px 15px;
        line-height: 27px;
    }

    .author{
        margin-left: 15px;
    }    

    .author-info h3{
        margin: 5px 0 0 5px;
    }

    .author-info p{
        margin: 0 0 0 5px;
        font-size: 10px;
    }
    
    .sign-up{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .sign-up .txt-area,
    .sign-up .get-email{
        width: 48%;
        padding: 40px 80px 50px 60px;
        margin: 30px 0 0 0;
    }
    
    .sign-up .txt-area h1{
        font-size: 30px;
        margin: 10px 0 0 0;
    }
    .sign-up .txt-area p{
        width: 93%;
        margin: 10px 0 35px 0 ;
        font-size: 15px;
        line-height: 25px;
    }

    .sign-up .get-email div:first-child {
        margin: 0;
    }

    .sign-up .get-email input[type="email"]{
        width: 90%;
        min-width: 250px;
        height: 45px;
        padding-left: 25px;
        margin: 30px 0 0 45px;
    }

    .sign-up .get-email input[type="submit"]{
        width: 40%;
        min-width: 190px;
        height: 45px;
        margin: 20px 0 0 45px;
    }
    .sign-up .get-email .error-msg{
        width: 90%;
        margin: 3px 0 0 45px;
    }

    footer{
        padding: 80px;
        display: flex;
        justify-content: space-between;
    }

    .footer-logo{
        width: 30%;
    }
    .about-us,
    .contact-us,
    .social-media{
        width: 20%;
        text-align: left;
    }

}